body {
    background-color: rgb(93, 5, 5);
    color:rgb(240, 240, 240);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0%;
}

header {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 10;
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}


#header-style{
    display: flex;
     align-items: center;
    justify-content: space-evenly; 
}

.logo{
    text-decoration: none;
    color: #fff;
}

.location{
    width: 500px;
    height: 300px;
}
.desc1-img{
    display: flex;
    justify-content: space-between;
}
/* .desc1{
    margin-right: 20px;
} */
.desc2-img{
    display: flex;
    justify-content:space-between;
}
.desc3-img{
    display: flex;
    justify-content: space-between;
}
.desc2{
    margin-left: 20px;
}